
<div class="grid grid-nogutter surface-section text-800">
    <div class="p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Manage your company</span>
            <div class="text-6xl text-primary font-bold mb-3">with the power of IdentityIQ</div>
            <p class="mt-0 mb-4 text-700 line-height-3">The Employee Management Portal, powered by IdentityIQ</p>

            <button pButton pRipple label="See Employees" type="button" class="mr-3 p-button-raised" routerLink="/employees"></button>
            <button pButton pRipple label="See Accounts" type="button" class="p-button-outlined" routerLink="/accounts"></button>
        </section>
    </div>
</div>